* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: " ", sans-serif;
    /*font-family: 'Over the Rainbow', cursive;*/
}






/* Navbar Section Start */

/*nav {
    padding: 20px;
    position:  sticky;
    top: 0;
    display: inline-block;
    z-index: 1;
    box-shadow: 0 2px 3px rgb(0, 0, 0 / 10%);
} 

nav .nav-logo {
    margin-right: 80rem;
    display: inline-block;

}

nav .nav {
    margin: 0.5rem;
    display: inline-block;
}

nav .right-nav {
    display: inline-block;
    text-indent: right;
}

.nav {
    text-align: right;
    list-style-type: disc;
}*/

/* Navbar Section End */





/*Landing Section Start*/

.container {
    width: 40%;
    border-radius: 15px;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    background-attachment: fixed;
    display:  absolute;

}

.front-bg {
    background-image: url(./images/background.jpg);
    background-size: 100%;
    background-color: grey;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center-top;
    background-attachment: fixed;
    display:  absolute;
}

.bg-image {
    min-height: 100vh;
}

.title {
    font-family: zilla slab;
    font-size: 100px;
    font-weight: 600;
    text-align: center;
    /*margin:  25px;*/
    color: #F9F871;
    margin-top: 50px;
}

.name {
    font-family: zilla slab;
    font-size: 80px;
    font-weight: 600;
    margin-bottom: 3rem;
    text-align: center;
    color: #FFC75F;
}

.life {
    font-family: zilla slab;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 3rem;
    text-align: center;
    color: #FF9671;
}

/*Landing Section End*/





/*About Us Section Start*/

.text1 { 
    color: #BA90C6; !important;
    font-size: 100px; !important;
}

.text2 { 
    color: #E8A0BF; !important;
}

.wrapper.three {
    background-color: #C0DBEA;
}
.three h3 {
    font-family: "Ranchers", cursive;
    background: url(./images/beach.jpeg);
    margin: 1.5rem;
    display: inline-flex;
    font-size: 15rem;
    background-position: 0 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #5b728a54;
    animation: animatedOne 30s linear infinite;
}
@keyframes animatedOne {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}

/*About Us Section End*/






/*Project Section Start*/

.wrapper.one {
    background-color: #1a1a1a;
}
.drop-main {
    display: flex;
    font-size: 7rem;
    margin: 1.5rem;
    justify-content: center;
    font-family: "Russo One", sans-serif;
}
.p {
    opacity: 0;
    animation: drop 0.4s linear forwards;
    color: #845EC2;
}
.r {
    opacity: 0;
    animation: drop 0.4s linear forwards 0.2s;
    color: #2C73D2;
}
.o {
    opacity: 0;
    animation: drop 0.4s linear forwards 0.4s;
    color: #FEFEDF;
}
.j {
    opacity: 0;
    animation: drop 0.4s linear forwards 0.6s;
    color: #0089BA;
}
.e {
    opacity: 0;
    animation: drop 0.4s linear forwards 0.8s;
    color: #008E9B;
}

.c {
    opacity: 0;
    animation: drop 0.4s linear forwards 0.8s;
    color: #008F7A;
}

.t {
    opacity: 0;
    animation: drop 0.4s linear forwards 0.8s;
    color: #845EC2;
}

.a {
    opacity: 0;
    animation: drop 0.4s linear forwards 0.8s;
    color: #D5CABD;
}

@keyframes drop {
    0% {
        transform: translateY(-200px);
        opacity: 0;
    }
    50% {
        transform: translateY(0px);
        opacity: 1;
    }
    65% {
        transform: translateY(-17px);
        opacity: 1;
    }
    75% {
        transform: translateY(-22px);
        opacity: 1;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

 /*Project Section End*/





 /*Contact Us Section Start*/

.wrapper.two {
    background-color: #2c0101;
    font-size: 6rem;
    font-family: "Play", sans-serif;
}
.neon h3 {
    margin: 1rem auto;
    animation: neon 1s ease infinite;
}
@keyframes neon {
    0%,
    100% {
        text-shadow: 0 0 10px #ef00e3a8, 0 0 20px #ef00e3a8, 0 0 20px #ef00e3a8, 0 0 20px #ef00e3a8, 0 0 2px #fed128, 2px 2px 2px #806914;
        color: #f5efcb;
    }
    50% {
        text-shadow: 0 0 2px #800e0b, 0 0 5px #800e0b, 0 0 5px #800e0b, 0 0 5px #800e0b, 0 0 2px #800e0b, 4px 4px 2px #40340a;
        color: #eda0d3;
    }
}

/*Project Section End*/





/*Contact Us Section Start*/

.wrapper.two {
    background-color: #2c0101;
    font-size: 50px;
    font-family: "Play", sans-serif;
}
.neon h3 {
    margin: 1rem auto;
    animation: neon 1s ease infinite;
}
@keyframes neon {
    0%,
    100% {
        text-shadow: 0 0 10px #ef00e3a8, 0 0 20px #ef00e3a8, 0 0 20px #ef00e3a8, 0 0 20px #ef00e3a8, 0 0 2px #fed128, 2px 2px 2px #806914;
        color: #f5efcb;
    }
    50% {
        text-shadow: 0 0 2px #800e0b, 0 0 5px #800e0b, 0 0 5px #800e0b, 0 0 5px #800e0b, 0 0 2px #800e0b, 4px 4px 2px #40340a;
        color: #eda0d3;
    }
}

/*Contact Us Section End*/





/* Tools Start */

.wrapper.ten {
    background-color: #0e2839;
}
.bounce {
    font-size: 5rem;
    width: 100%;
    margin: 3rem auto;
    display: inline-flex;
    justify-content: center;
    -webkit-box-reflect: below -20px linear-gradient(transparent, #211e1e2e);
}
.bounce span {
    display: inline-flex;
    color: #c7f4ff;
    font-family: "Play", sans-serif;
    animation: bounce 1s infinite;
}
@keyframes bounce {
    0%,
    50%,
    100% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-20px);
    }
}
.ten span:nth-of-type(1) {
    animation-delay: 0.1s;
}
.ten span:nth-of-type(2) {
    animation-delay: 0.2s;
}
.ten span:nth-of-type(3) {
    animation-delay: 0.3s;
}
.ten span:nth-of-type(4) {
    animation-delay: 0.4s;
}
.ten span:nth-of-type(5) {
    animation-delay: 0.5s;
}
.ten span:nth-of-type(6) {
    animation-delay: 0.6s;
}

/* Tools End */





/*Social Media Links Start*/

.wrapper.ten {
    background-color: #0e2839;
}
.bounce {
    font-size: 5rem;
    width: 100%;
    margin: 3rem auto;
    display: inline-flex;
    justify-content: center;
    -webkit-box-reflect: below -20px linear-gradient(transparent, #211e1e2e);
}
.bounce span {
    display: inline-flex;
    color: #c7f4ff;
    font-family: "Play", sans-serif;
    animation: bounce 1s infinite;
}
@keyframes bounce {
    0%,
    50%,
    100% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-20px);
    }
}
.ten span:nth-of-type(1) {
    animation-delay: 0.1s;
}
.ten span:nth-of-type(2) {
    animation-delay: 0.2s;
}
.ten span:nth-of-type(3) {
    animation-delay: 0.3s;
}
.ten span:nth-of-type(4) {
    animation-delay: 0.4s;
}
.ten span:nth-of-type(5) {
    animation-delay: 0.5s;
}
.ten span:nth-of-type(6) {
    animation-delay: 0.6s;
}

/*Social Media Links End*/

